<!DOCTYPE html>
<html lang="fr">
{# permet de lire le css apply inline_css(source("style.css"))#}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# asset permet de lire le fichier css placé dans le dossier public #}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <title>Journal LA PISCINE</title>

</head>
<body>

<header>
    <p>Journal LA PISCINE</p>
</header>

<main>