{%  extends 'base.html.twig' %}

{# Les blocs remplissent les trous faits dans le fichier base.html.twig #}
{% block metaTitle %}
    Liste des aticles
{% endblock metaTitle %}

{% block main %}
    <div class="container">
        {% for article in list %}
            {% if article.published %}
            <div class="row">
                <article>
                    {# path permet de rediriger vers une url grace au nom de la route et des paramètres de cette route si nécessaire #}
                    <center><a href="{{ path('ArticleShow', {'id' : article.id}) }}"><h1> {{  article.title }} </h1></a></center>
                    <center><h2> {{  article.content }} </h2></center>
                </article>
            </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock main %}

{% block textFooter %}
    Journal LA PISCINE
{% endblock textFooter %}
