{%  extends 'base.html.twig' %}

{% block metaTitle %}
    Article n°{{ article.id }}
{% endblock metaTitle %}

{% block main %}

<center><div class="fluid">
    <center><h1> {{  article.title }} </h1></center>
    <center><h2> {{  article.content }} </h2></center>
</div></center>

{% endblock main %}

{% block textFooter %}
    Article n°{{ article.id }}
{% endblock textFooter %}



