{% include '_header.html.twig' %}

<center><div class="fluid">
    <center><h1> {{  article.title }} </h1></center>
    <center><h2> {{  article.content }} </h2></center>
</div></center>

{% include '_footer.html.twig' %}


