
h1{
    color: darkred;
    border: darkred 5px solid;
    width: 55%;
    padding: 20px 50px;
    border-radius: 20px;
}
h2{
    width: 50%;
    border: darkblue 5px solid;
    color: darkblue;
    padding: 20px 50px;
    border-radius: 20px;
}